*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.convert-input input {
  height: 30px;
  text-align: center;
  border: 3px solid dimgray;
  border-radius: 5px;
}

.converter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crypto button{
  height: 40px;
  width: 100px;
  margin: 20px 10px;
  background-color: cornflowerblue;
  border: none;
  border-radius: 3px;
}

.crypto button:focus {
  color: whitesmoke;
  box-shadow: 0 0 0 5px dimgray;
  outline: none;
  background-color: rgb(45, 111, 235);
}

.forex button{
  height: 40px;
  width: 100px;
  margin: 20px 10px;
  background-color: darkseagreen;
  border: none;
  border-radius: 3px;
}

.forex button:focus {
  color: whitesmoke;
  box-shadow: 0 0 0 5px dimgray;
  outline: none;
  background-color:rgb(100, 141, 100);
}